body {
    font-family: Arial;
    font-size: 1em;
    margin: 2em;
}
#controlsContainer {
    text-align: left;
    margin-right: 310px;
	position: fixed;
	top:0;
	left:2em;
	width: 100%;
	background-color: white;
	z-index: 5;
border: 1px solid red;
}

#audioContainer
{
text-align: left;
margin-left: 0em;
}

#controls
{
height: 70px;
margin-top: 1em;
}

#textControls {
margin-top: 1em;
    float: left;
}
button {
    color: #ffffff;
    background-color: #2d63c8;
    font-size: 16px;
    border: 1px solid #2d63c8;
    padding: 5px 5px;
    cursor: pointer;
}
button:hover {
    color: #2d63c8;
    background-color: #ffffff;
}
.sizeButton {
    border-radius: 50%;
    font-size: 15px;
    font-weight: bold;
    width: 30px;
    height: 30px;
}
.btn {
    font-size: 15px;
    border-radius: 5px;
}
#timeContainer
{
display: inline-block;
text-align: left;
margin-left: 3em;
}
#timecode {
    font-weight: bold;
    font-size: 1.5em;
}

#clipList
{
width:300px; position: fixed; top:100px;right: 0px;
}
#content {
    position: absolute;
	margin-top: 70px;
}
.klipit {
    font-size: 10px;
    font-weight: bold;
	margin-right: 0.5em;
}
#slippylist {
    font-size: 12px;
}
li {
    background-color: white;
    list-style-type: none;
    margin-bottom: 1em;
    margin-left: -1em;
}
[contenteditable] {
    outline: 0px solid transparent;
}